* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: 'Oxygen Mono', monospace;
}

body {
    background-color:black;
    color:white;
}

h1,
h2,
h3,
h4,
.contact-item a 
{
    font-family: 'Fira Code', monospace;
    text-transform:uppercase;
    font-weight:400;
    
}

li {
    list-style-type: none;
}

.rotate-text {
    position:absolute;
    top:80px;
    left:-30px;
    transform:rotate(-90deg);
    font-size:0.6rem;
}

#intro {
    width:100%;
    height:100vh;
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#intro-video {
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100%;
    object-fit:cover; 
}

.intro-info {
    text-align:center;
    text-transform:uppercase;
    font-size:1.2rem;
    line-height:2.2rem;
    letter-spacing: 1px; 
}

.intro-info span {
    display:inline-block;
    opacity:0;
    transform:translateY(3rem);
}

.intro-info .intro-transition {
    animation:fadeInIntro 1s linear forwards;
}

#projects {
    width:100%;
}

#projects h3 {
    width:80%;
    margin:3em auto 0;
    font-size:0.8rem;
    text-align:center;
}

#projects h3:nth-of-type(2) {
    font-size:0.8rem;
    margin:2em auto;
}

.project {
    width:100%;
    position:relative;
    height:100vh;
    margin:2em 0;
}

.message {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    z-index:1;
    text-align:center;
    padding:0.8rem;
    border-radius:10px;
    background-color:rgba(8, 8, 8, 0.9); 
}

.message.hide-message {
    animation:fade-left 1s ease-in forwards;
}

.card {
    width:100%;
    height:100%;
    perspective: 1000px;
}

.card-content {
    height:100%;
    position:relative;
    transition:transform 1.5s;
    transform-style:preserve-3d;
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;

}

.active-rotate .card-content {
    transform:rotateY(.5turn);
}

#first-project .card-content {
    background-image:url("images/pomodoro_mobile.jpg"); 
}

#second-project .card-content {
    background-image:url("images/ip_tracker_mobile.jpg");
}

#third-project .card-content {
    background-image:url("images/bookmark_mobile.jpg");
}

#fourth-project .card-content {
    background-image:url("images/ecommerce_mobile.jpg");
}

#fifth-project .card-content {
    background-image:url("images/url_short_mobile.jpg");
}

.card-front,
.card-back {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    transform-style:preserve-3d;
}

.card-back {
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    text-align:center;
    background-color:black;
    transform:rotateY(.5turn);
}

.project-name {
    width:50%;
    font-size:2rem;
    text-transform:uppercase;
    text-align:center;
}

.project-info {
    width:40%;
}

.project-info p {
    font-size:0.7rem;
    text-transform:uppercase;
    transform:translateZ(6rem);
    margin-top:1em;
}

.project-info p:first-of-type {
    margin-top:0;
}

.project-info ul {
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:1em;
}

.project-info li {
    list-style-type:none;
}

.project-info li a {
    display:block;
    width:32px;
    height:32px;
}

.project-info li img {
    width:100%;
    height:100%;
}

.project-info li:nth-of-type(2) {
    margin-left:1em;
}

#github-link {
    display:block;
    margin:0 auto;
    width:50px;
    height:50px;
}

#github-link img {
    width:100%;
    height:100%;
}

#aboutme {
    width:100%;
    margin-top:5em;
}

#aboutme h2 {
    text-align:center;
    font-size:2rem;
}

#aboutme .image-section {
    margin:2em 0;
}

#aboutme .image-section img {
    display:block;
    margin:0 auto;
    width:50%;
    border-radius:50%;
}

.about-info {
    width:90%;
    margin:1em auto 5em;
    font-size:0.8rem;
    text-align:left;
}

.about-info p {
    margin-top:0.5em;
    line-height:1.8;
}

.tech-info {
    overflow:hidden;
}

.typewrite {
    width:max-content;
    margin:0 auto;
    position:relative;
    font-size:1.5rem;
}

.typewrite::before,
.typewrite::after {
    position:absolute;
    content:'';
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.typewrite::before {
    background:black;
    
}

.typewrite::after {
    width:5px;
    background:white;
    
}

.typewrite.start-anim::before {
    animation:typewriter 3s steps(18) 1s forwards;
}

.typewrite.start-anim::after {
    animation:typewriter 3s steps(18) 1s forwards,blink 750ms steps(18) infinite;
}

.box {
    position:relative;
    height:200px;
    width:100px;
    margin:3em auto;
    transform-style:preserve-3d;
    animation:carousel 20s linear infinite;
}

.box div {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform-style:preserve-3d;
    transform-origin:center;
}

.box div:first-of-type {
    transform:rotateY(45deg) translateZ(250px); 
}

.box div:nth-of-type(2) {
    transform:rotateY(90deg) translateZ(250px); 
}

.box div:nth-of-type(3) {
    transform:rotateY(135deg) translateZ(250px); 
}

.box div:nth-of-type(4) {
    transform:rotateY(180deg) translateZ(250px); 
}

.box div:nth-of-type(5) {
    transform:rotateY(225deg) translateZ(250px); 
}

.box div:nth-of-type(6) {
    transform:rotateY(270deg) translateZ(250px); 
}

.box div:nth-of-type(7) {
    transform:rotateY(315deg) translateZ(250px); 
}

.box div img {
    height:100%;
    width:100%;
    position:absolute;
    object-fit:contain;
}

.other-tech h3 {
    width:90%;
    margin:0 auto;
    text-align:center;
    padding:2rem 0;
}

.other-tech li {
    text-align:center;
    font-size:1rem;
    padding:1rem 0;
}

#contact {
    width:100%;
    height:100vh;
    margin-top:5em;
    display:flex;
    flex-direction: column;
    align-items:center;
    position:relative; 
}

#contact h4 {
    width:80%;
    margin:0 auto;
    padding:3rem 0;
    text-align:center;
    font-size:0.8rem;
}

.contact-container {
    width:100%;
    margin:2em 0 0;
}

.contact-item {
    list-style-type:none;
    text-align:center;
    padding:2rem 0;
}

.contact-item a {
    font-size:1.2rem;
    text-transform:uppercase;
    text-decoration:none;
    color:white;
    letter-spacing:2px;
    transition:letter-spacing 0.5s ease-in;
}

.contact-item a:visited {
    color:white;
    text-decoration:none;
}

.contact-item a:hover {
    letter-spacing:5px;
}

@keyframes fadeInIntro {
    to {
        opacity:1;
        transform:translateY(0);
    }
}

@keyframes fade-left {
    0%{
        transform:translate(-50%,-50%);
        opacity:1;
    }
    100% {
        transform:translate(-100%,-50%);
        opacity:0;
    }
}

@keyframes typewriter {
    to {
        left:100%;
    }
}

@keyframes blink {
    to {
        background:transparent;
    }
}

@keyframes carousel {
    0% {
        transform:perspective(1500px) rotateY(0deg);
    }
    100% {
        transform:perspective(1500px) rotateY(360deg);
    }
}

@media screen and (min-width:768px) {
    .rotate-text {
        font-size:0.7rem;
    }

    .intro-info {
        font-size:2rem;
        line-height:4rem;
    }

    #projects h3 {
        font-size:1.2rem;
    }

    #projects h3:nth-of-type(2) {
        font-size:0.9rem;
    }

    #first-project .card-content {
        background-image:url("images/pomodoro_desktop.png"); 
    }
    
    #second-project .card-content {
        background-image:url("images/ip_tracker_desktop.png");
    }
    
    #third-project .card-content {
        background-image:url("images/bookmark_desktop.png");
    }
    
    #fourth-project .card-content {
        background-image:url("images/ecommerce_desktop.png");
    }
    
    #fifth-project .card-content {
        background-image:url("images/url_short_desktop.png");
    }

    #aboutme .image-section img {
        width:30%;
    }

    .about-info {
        width:70%;
    }

    .other-tech {
        margin-top:2em;
    }
}

@media only screen and (min-width:1024px) {

    .project {
        margin:5em 0;
    }

    .card-back {
        justify-content:center;
    }

    .project-name {
        width:40%;
    }

    .project-info {
        width:40%;
    }

    #aboutme {
        margin-top:8em;
    }

    #aboutme .image-section img {
        width:20%;
    }

    .about-info {
        width:60%;
    }

    .typewrite {
        font-size:1.7rem;
    }

    .other-tech li {
        font-size:1.5rem;
    }

    #contact {
        justify-content:center;
    }

    .contact-container {
        margin:0;
    }

    .contact-item {
        padding:3rem 0;
    }
}

@media only screen and (min-width:1440px) {
    .rotate-text {
        font-size:0.8rem;
    }

    .card-back {
        justify-content:center;
    }

    .project-name {
        width:30%;
    }

    .project-info {
        width:30%;
    }

    .project-info p {
        font-size:0.8rem;
    }

    #aboutme .image-section {
        margin:4em 0;
    }

    #aboutme .image-section img {
        width:15%;
    }

    .about-info {
        width:45%;
        font-size:0.9rem;

    }

    #contact h4 {
        font-size:1.3rem;
    }

    .contact-item a {
        font-size:2rem;
    }
}

@media only screen and (min-width:1920px) {
    .intro-info {
        font-size:2.5rem;
    }
}